sample_info/sample_data_parsing.ipynb
sample_info/20251003_McNew_Quants.xlsx
sample_info/Aphelocoma_sample_data_old_nov14_backup.csv
sample_info/Post-WNV Sampling (2015-2023).png
sample_info/Pre-WNV Sampling (1990-1999).png
sample_info/mcnew_samples_UAGC-SM-8328318.csv
